version: '3.8'

services:
  pihole:
    image: pihole/pihole:latest
    container_name: hamnen_pihole
    restart: unless-stopped
    ports:
      - "5355:53/tcp"  # DNS TCP (alternative port, different from AdGuard)
      - "5355:53/udp"  # DNS UDP (alternative port, different from AdGuard)
      - "8104:80"      # Web interface (unchanged)
    volumes:
      - ./volumes/etc-pihole:/etc/pihole
      - ./volumes/etc-dnsmasq.d:/etc/dnsmasq.d
    environment:
      - TZ=UTC
      - WEBPASSWORD=hamnen
    cap_add:
      - NET_ADMIN

networks:
  default:
    name: hamnen-network
    external: true
